@model IEnumerable<SwiftSearch.Helpers.Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

@using (Html.BeginForm())
{
<div>
    @Html.DropDownList("Category", ViewBag.Category as SelectList, htmlAttributes: new { @class = "form-control" })
</div>
<div>
    <input type="submit" value="Submit" class="btn btn-primary submit" />
</div>

    
}





